<div class="contextual">
  <%= link_to "新しいクライアント", new_client_path, :class => "icon icon-add" %>
</div>
<h2>クライアント一覧</h2>

<% form_tag clients_url, :method => :get do %>
  <% field_set_tag l(:label_filter_plural) do %>
    <%= select_tag :field, client_search_fields(params[:field]) %>
    <%= text_field_tag :value, params[:value], :size => 30 %>
    <input type="submit" value="<%= l(:button_apply)%>" />
  <% end %>
<% end %>

<table class="list clients">
  <thead>
    <tr>
      <th>名称</th>
      <th>電話番号</th>
      <th>FAX</th>
      <th>郵便番号</th>
      <th>住所</th>
      <th>親クライアント</th>
      <th>子クライアント</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= link_to h(client.name), client_path(client) %></td>
        <td><%=h client.phone %></td>
        <td><%=h client.fax %></td>
        <td><%=h client.postal %></td>
        <td><%=h client.address %></td>
        <td><%=link_to h(client.parent), client_path(client.parent) %></td>
        <td><%=client.children.collect{|child| link_to h(child), client_path(child) }.join(', ') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render :partial => 'stylesheet' %>
